<!DOCTYPE html>
<html>
<head>
  
</nav>
<p class="alert"></p>

<p id="notice"></p>

<div id="bikes" class="main">
<h1 align="center"><u>Bicycles list</u></h1>
<table align="center">
  <thead>
    <tr>
      <th>Model</th>
      <td></td>
      <th>Price per day    </th>
      <th></th>
      <th>Image</th>
      <th>Spec</th>
      <td></td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr><!-- Below is the logic of displaying options on bikes page -->
        <td>Spc ladies 
        Bike</td>
        <td></td>
        <td>€4</td>
        <td></td>
        <td><img alt="Dublin Bicycles" src="assets/bike4.jpg" width="170" height="120" /></td> <!-- Displaying a picture of the bike -->
        <td></td>
        <td>Singal Speed Bike</td>
        <td></td>
        <td><a href="/biked1"><u>Show details</u></a></td>
        <td>----</td>
        <td><a href="/reservation"><u>Book</u></a></td>
              </tr>
      <tr><!-- Below is the logic of displaying options on bikes page -->
        <td>Basic Bike</td>
        <td></td>
        <td>€4</td>
        <td></td>
        <td><img alt="Dublin Bicycles" src="assets/bike6.png" width="170" height="120" /></td> <!-- Displaying a picture of the bike -->
        <td></td>
        <td>NO Gears</td>
        <td></td>
        <td><a href="/biked2"><u>Show details</u></a></td>
          <td>----</td>
        <td><a href="/reservation"><u>Book</u></a></td>
              </tr>
      <tr><!-- Below is the logic of displaying options on bikes page -->
        <td>BMX Bike</td>
        <td></td>
        <td>€4.50</td>
       <td></td>
        <td><img alt="Dublin Bicycles" src="assets/bike2.png" width="170" height="120" /></td> <!-- Displaying a picture of the bike -->
        <td></td>
        <td>Fast Bike with special Gear</td>
        <td></td>
        <td><a href="/biked3"><u>Show details</u></a></td>
          <td>----</td>
        <td><a href="/reservation"><u>Book</u></a></td>
              </tr>
      <tr><!-- Below is the logic of displaying options on bikes page -->
        <td>Road Bike</td>
        <td></td>
        <td>€5</td>
        <td></td>
        <td><img alt="Dublin Bicycles" src="assets/bike5.png" width="170" height="120" /></td> <!-- Displaying a picture of the bike -->
        <td></td>
        <td>Limited Functions</td>
        <td></td>
        <td><a href="/biked4"><u>Show details</u></a></td>
          <td>----</td>
        <td><a href="/reservation"><u>Book</u></a></td>
              </tr>
      <tr><!-- Below is the logic of displaying options on bikes page -->
        <td>Crusier</td>
        <td></td>
        <td>€6</td>
        <td></td>
        <td><img alt="Dublin Bicycles" src="/assets/bike1.jpg" width="170" height="120" /></td> <!-- Displaying a picture of the bike -->
        <td></td>
        <td>Latest Bike for Racers</td>
        <td></td>
        <td><a href="/biked5"><u>Show details</u></a></td>
          <td>----</td>
        <td><a href="/reservation"><u>Book</u></a></td>
              </tr>
      <tr><!-- Below is the logic of displaying options on bikes page -->
        <td>Mountain Bike</td>
        <td></td>
        <td>€7</td>
        <td></td>
        <td><img alt="Dublin Bicycles" src="/assets/bike3.jpg" width="170" height="120" /></td> <!-- Displaying a picture of the bike -->
        <td></td>
        <td>Limited Edition</td>
        <td></td>
        <td><a href="/biked6"><u>Show details</u></a></td>
          <td>----</td>
        <td><a href="/reservation"><u>Book</u></a></td>
              </tr>
      
  </tbody>
</table>

<br>
</div>


<div id="signature">RoR Project for NCI, mustafa hussain 2016</div> <!-- Signature which proves the project was made by me - mustafa hussain ;) -->
</body>
</html>