
<p class="alert" ></p>

<h1>New Reservation</h1>

<div class="main">
<form class="new_reservation" id="new_reservation" align="center" action="/welcome" accept-charset="UTF-8" method="get">
  <!--  functionality using calendar -->
  <div class="ro main">
    <label for="reservation_start_from">Start from</label><br>
  
    <input type="date" >  
  </div>
  
 
  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'dd-mm-yyyy', todayHighlight:'TRUE', autoclose: true }).on('changeDate', function (ev) {
     $(this).datepicker('hide');
    });
  });
</script>
  <div class="field main">
    <label for="reservation_duration">Duration</label><br>
    <input type="number" name="reservation[duration]" id="reservation_duration" />
  </div>
  <div class="field ro">
    <label for="reservation_profile_id">Profile</label><br>
    <input readonly="readonly" type="text" value="9" name="reservation[profile_id]" id="reservation_profile_id" /> <!-- Read-only just to provide a profile id for reference/information -->
  </div>
  <div class="field ro">
    <label for="reservation_bike_id">Bike</label><br>
    <input type="text" name="bike_id" id="bike_id" value="1" readonly="readonly" /> 
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Create Reservation" />
  </div>
</form></div>
