 </div>
</nav>
<p class="alert"></p>

<p id="notice"></p>

<div class="main" align="center">

<p>
  <img alt="Dublin Bicycles" src="/assets/bike6.png" width="350" height="265" /></td> <!-- Displays bike's image -->
</p>

<p>
  <strong>Model:</strong>
  Basic Bike
</p>

<p>
  <strong>Price:</strong>
  €4
</p>

<p>
  <strong>Details:</strong>
 Easy to Drive
</p>

<a href="/hirenow">Back</a>
</div>
