 </div>
</nav>
<p class="alert"></p>

<p id="notice"></p>

<div class="main"  align="center">

<p>
  <img alt="Dublin Bicycles" src="/assets/bike1.jpg" width="350" height="265" /></td> <!-- Displays bike's image -->
</p>

<p>
  <strong>Model:</strong>
  Crusier Bike
</p>

<p>
  <strong>Price:</strong>
  €6
</p>

<p>
  <strong>Details:</strong>
  Racing Bike
</p>

<a href="/hirenow">Back</a>
</div>
