 </div>
</nav>
<p class="alert"></p>

<p id="notice"></p>

<div class="main"  align="center">

<p>
  <img alt="Dublin Bicycles" src="/assets/bike3.jpg" width="350" height="265" /></td> <!-- Displays bike's image -->
</p>

<p>
  <strong>Model:</strong>
  Mountain Bike
</p>

<p>
  <strong>Price:</strong>
  €7
</p>

<p>
  <strong>Details:</strong>
  Adventure Bike
</p>

<a href="/hirenow">Back</a>
</div>
